<% include partials/header %>
    <h1>HELLO FROM EJS</h1>
    <h2><%= title %></h2>
    <ul>
    <% users.map(function(user) { %>
      <li><%= user.first_name %> <%= user.last_name %> -- <%= user.email %></li>
    <% }) %>
    </ul>
<% include partials/footer %>
